@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel::-webkit-scrollbar {
    display: none;
  }

.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}